*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    list-style: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.bg-nav{
    padding: 16px 0;
}

.line {
    width: 100%;
    height: 5px;
    background: #FF7500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 227px;
    height: 60px;
}

.logo img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.list li{
    display: inline-block;
    transition: 1.5s;
}

.list li a:hover{
    color: #2b51dad8;
}

.list li a:active{
    color: rgb(193, 84, 207);
}

.list li:not(:last-child){
    margin-right: 32px;
}

.nav-right{
    display: flex;
    gap: 32px;
    align-items: center;
}

.list li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.site-btn {
    background: #FF7500;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    transition: 1.2s;
}

.site-btn:hover{
    background-color: rgb(17, 46, 74);
    color: #FF7500;
    border-radius: 20px;
}

.site-btn:active{
    background-color: rgb(86, 30, 139);
    color: rgb(164, 116, 209);
}

.bg-hero {
    background: #252420;
    color: #FFFFFF;
    /* padding: 80px 0; */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 387px;
}

.hero-line {
    width: 80px;
    height: 3px;
    background: #FF7500;
    margin-bottom: 40px;
}

.hero-left h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

.hero-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
}

.hero-right img{
    width: 510px;
    height: 510px;
    box-shadow: 24px 24px 0px rgba(255, 117, 0, 0.6);
    border-radius: 8px;
}

.hero-right{
    transform: translateY(40px);
}

.bg-cards {
    background: #FFFFFF;
    padding: 210px 0;
}

.cards-line {
    width: 80px;
    height: 3px;
    background: #FF7500;
    margin-bottom: 24px;
}

.card-title{
    width: 435px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 72px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 340px;
}

.card img{
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
}

.card h3{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 12px;
}

.card p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #000000;
}

.bg-sale {
    background: #252420;
    color: #FFFFFF;
}

.sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale-left {
    width: 440px;
}

.sale-left h1{
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 24px;
}

.sale-left p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

#text1{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

#text1 span{
    color: #FF7500;
}

.sale-right img{
    width: 440px;
    height: 440px;
    border-radius: 12px;
}

.sale-right {
    transform: translateY(-75px);
}

.footer-nav{
    background: #F8F8F8;
}

.flex-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    padding-top: 56px;
}

.child-one img{
    width: 228px;
    height: 60px;
}

.child-twoo img{
    padding-right: 16px;
    
}

.footer-line{
    width: 1100px;
    height: 2px;
    left: 170px;
    top: 2375px;
    background: rgba(37, 36, 32, 0.5);
    margin-bottom: 64px;
}

.footer-text2{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 56px;
}

.footer-list2 li {
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #252420;
    transition: 1.2s;
}

/* .footer-list2 li:hover{
    background-color: rgb(246, 223, 111);
    padding: 5px 8px;
    border-radius: 20px;
} */

.footer-list2 li a{
    text-decoration: none;
}

.footer-list2 li a:hover{
    color:#9a571d
}